<div class="rounded-md border w-7/12 mt-2" x-data=" {selected: 'preview' }">
    <div class="bg-black flex gap-6 px-4 py-2 justify-end rounded-t-md">
        <button class="px-3 py-1 text-ui-lt-gray font-semibold hover:bg-dk-gray rounded-full"
            @click="selected = 'preview'">Result</button>
        <button class="px-3 py-1 text-ui-lt-gray font-semibold hover:bg-dk-gray rounded-full"
            @click="selected = 'code'">Code</button>
    </div>
    <div class="flex flex-col p-4 rounded-b-md" :class="selected == 'preview'? 'bg-white':'bg-midnight'">
        <div class="bg-white self-center" x-show="selected == 'preview'">
            <table class="table-auto">
                <thead>
                    <tr class="border-b-2">
                        <th class="uppercase text-sm text-ui-gray tracking-wide font-extrabold p-2.5 text-left">Product
                        </th>
                        <th class="uppercase text-sm text-ui-gray tracking-wide font-extrabold p-2.5">Qty</th>
                        <th class="uppercase text-sm text-ui-gray tracking-wide font-extrabold p-2.5 text-right">Price
                        </th>
                        <th class="uppercase text-sm text-ui-gray tracking-wide font-extrabold p-2.5 text-right">
                            Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd:bg-ice">
                        <td class="p-2.5">Paper</td>
                        <td class="p-2.5 text-center">3</td>
                        <td class="p-2.5 text-right">$5.00</td>
                        <td class="p-2.5 text-right">$15.00</td>
                    </tr>
                    <tr class="odd:bg-ice">
                        <td class="p-2.5">Ink</td>
                        <td class="p-2.5 text-center">2</td>
                        <td class="p-2.5 text-right">$10.00</td>
                        <td class="p-2.5 text-right">$20.00</td>
                    </tr>
                    <tr class="odd:bg-ice">
                        <td class="p-2.5">Toner</td>
                        <td class="p-2.5 text-center">1</td>
                        <td class="p-2.5 text-right">$15.00</td>
                        <td class="p-2.5 text-right">$15.00</td>
                    </tr>
                </tbody>
                <tfooter>
                    <tr class="border-t-2">
                        <td colspan="3" class="p-2.5 text-right"><span
                                class="text-md-gray uppercase text-sm font-bold">Grand
                                Total</span>
                        </td>
                        <td class="p-2 text-right">$50.00</td>
                    </tr>
                </tfooter>
            </table>
        </div>
        <div class="bg-midnight" x-show="selected == 'code'" x-cloak>
            <script type="text/plain" class="language-markup">
            <table class="table-auto">
                <thead>
                    <tr class="border-b-2">
                        <th class="uppercase text-sm text-ui-gray tracking-wide font-extrabold p-2.5 text-left">Product
                        </th>
                        <th class="uppercase text-sm text-ui-gray tracking-wide font-extrabold p-2.5">Qty</th>
                        <th class="uppercase text-sm text-ui-gray tracking-wide font-extrabold p-2.5 text-right">Price
                        </th>
                        <th class="uppercase text-sm text-ui-gray tracking-wide font-extrabold p-2.5 text-right">
                            Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd:bg-ice">
                        <td class="p-2.5">Paper</td>
                        <td class="p-2.5 text-center">3</td>
                        <td class="p-2.5 text-right">$5.00</td>
                        <td class="p-2.5 text-right">$15.00</td>
                    </tr>
                    <tr class="odd:bg-ice">
                        <td class="p-2.5">Ink</td>
                        <td class="p-2.5 text-center">2</td>
                        <td class="p-2.5 text-right">$10.00</td>
                        <td class="p-2.5 text-right">$20.00</td>
                    </tr>
                    <tr class="odd:bg-ice">
                        <td class="p-2.5">Toner</td>
                        <td class="p-2.5 text-center">1</td>
                        <td class="p-2.5 text-right">$15.00</td>
                        <td class="p-2.5 text-right">$15.00</td>
                    </tr>
                </tbody>
                <tfooter>
                    <tr class="border-t-2">
                        <td colspan="3" class="p-2.5 text-right"><span
                                class="text-md-gray uppercase text-sm font-bold">Grand
                                Total</span>
                        </td>
                        <td class="p-2 text-right">$50.00</td>
                    </tr>
                </tfooter>
            </table>
            </script>
        </div>
    </div>
</div>