@font-face {
  font-display: block;
  font-family: CAS-Icons;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/CAS-Icons/CAS-Icons.eot);
  src:
    url(../fonts/CAS-Icons/CAS-Icons.eot#iefix) format('embedded-opentype'),
    url(../fonts/CAS-Icons/CAS-Icons.ttf) format('truetype'),
    url(../fonts/CAS-Icons/CAS-Icons.woff) format('woff'),
    url(../fonts/CAS-Icons/CAS-Icons.svg#CAS-Icons) format('svg');
}

[class*=' cas-i-'],
[class^='cas-i-'] {
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: CAS-Icons !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}

.cas-i-account:before {
  content: '\e900';
}

.cas-i-address:before {
  content: '\e901';
}

.cas-i-address-book:before {
  content: '\e902';
}

.cas-i-amazon-pay:before {
  content: '\e903';
}

.cas-i-arrow-down:before {
  content: '\e904';
}

.cas-i-arrow-left:before {
  content: '\e905';
}

.cas-i-arrow-right:before {
  content: '\e906';
}

.cas-i-arrow-up:before {
  content: '\e907';
}

.cas-i-asc-arrow:before {
  content: '\e908';
}

.cas-i-card:before {
  content: '\e909';
}

.cas-i-cart:before {
  content: '\e90a';
}

.cas-i-cartridge:before {
  content: '\e90b';
}

.cas-i-chain:before {
  content: '\e90c';
}

.cas-i-chat:before {
  content: '\e90d';
}

.cas-i-checklist:before {
  content: '\e90e';
}

.cas-i-checkmark:before {
  content: '\e90f';
}

.cas-i-clipboard:before {
  content: '\e910';
}

.cas-i-condition:before {
  content: '\e911';
}

.cas-i-corporate:before {
  content: '\e912';
}

.cas-i-coupon:before {
  content: '\e913';
}

.cas-i-cross:before {
  content: '\e914';
}

.cas-i-dashboard:before {
  content: '\e915';
}

.cas-i-desc-arrow:before {
  content: '\e916';
}

.cas-i-eco-leaf:before {
  content: '\e917';
}

.cas-i-email:before {
  content: '\e918';
}

.cas-i-error:before {
  content: '\e919';
}

.cas-i-external:before {
  content: '\e91a';
}

.cas-i-facebook:before {
  content: '\e91b';
}

.cas-i-filter:before {
  content: '\e91c';
}

.cas-i-finder:before {
  content: '\e91d';
}

.cas-i-full-star:before {
  content: '\e91e';
}

.cas-i-gear:before {
  content: '\e91f';
}

.cas-i-gift-box:before {
  content: '\e920';
}

.cas-i-guarantee:before {
  content: '\e921';
}

.cas-i-half-star:before {
  content: '\e922';
}

.cas-i-help:before {
  content: '\e923';
}

.cas-i-home:before {
  content: '\e924';
}

.cas-i-in-cart:before {
  content: '\e925';
}

.cas-i-info:before {
  content: '\e926';
}

.cas-i-knowledge-base:before {
  content: '\e927';
}

.cas-i-large-grid:before {
  content: '\e928';
}

.cas-i-linkedin:before {
  content: '\e929';
}

.cas-i-list-view:before {
  content: '\e92a';
}

.cas-i-lock:before {
  content: '\e92b';
}

.cas-i-logo:before {
  content: '\e92c';
}

.cas-i-logo-icon:before {
  content: '\e92d';
}

.cas-i-lquo:before {
  content: '\e92e';
}

.cas-i-menu:before {
  content: '\e92f';
}

.cas-i-order-history:before {
  content: '\e930';
}

.cas-i-order-return:before {
  content: '\e931';
}

.cas-i-order-review:before {
  content: '\e932';
}

.cas-i-order-tracking:before {
  content: '\e933';
}

.cas-i-pencil:before {
  content: '\e934';
}

.cas-i-phone:before {
  content: '\e935';
}

.cas-i-piggy-bank:before {
  content: '\e936';
}

.cas-i-pin:before {
  content: '\e937';
}

.cas-i-pinterest:before {
  content: '\e938';
}

.cas-i-plus:before {
  content: '\e939';
}

.cas-i-plus-circle:before {
  content: '\e93a';
}

.cas-i-printer:before {
  content: '\e93b';
}

.cas-i-qa:before {
  content: '\e93c';
}

.cas-i-quick-reorder:before {
  content: '\e93d';
}

.cas-i-reorder:before {
  content: '\e93e';
}

.cas-i-ribbon:before {
  content: '\e93f';
}

.cas-i-rquo:before {
  content: '\e940';
}

.cas-i-save:before {
  content: '\e941';
}

.cas-i-search:before {
  content: '\e942';
}

.cas-i-shopping-bag:before {
  content: '\e943';
}

.cas-i-small-grid:before {
  content: '\e944';
}

.cas-i-star-rating:before {
  content: '\e945';
}

.cas-i-store-credit:before {
  content: '\e946';
}

.cas-i-success:before {
  content: '\e947';
}

.cas-i-support:before {
  content: '\e948';
}

.cas-i-ticket:before {
  content: '\e949';
}

.cas-i-trashcan:before {
  content: '\e94a';
}

.cas-i-troubleshoot:before {
  content: '\e94b';
}

.cas-i-truck:before {
  content: '\e94c';
}

.cas-i-twitter:before {
  content: '\e94d';
}

.cas-i-video:before {
  content: '\e94e';
}

.cas-i-warning:before {
  content: '\e94f';
}

.cas-i-warranty:before {
  content: '\e950';
}

.cas-i-wordpress:before {
  content: '\e951';
}

.cas-i-yelp:before {
  content: '\e952';
}

.cas-i-youtube:before {
  content: '\e953';
}
