<div class="m-8/12">
    <p>Our solid, bold shapes give off a sturdy demeanor that visually
        translates our reliability and knowledge. The juxtaposition of the
        ridges and rounds play to the many facets of our company. The
        rounds create continuity throughout the logotype that emits a
        feeling of security and approachability. In contrast, the ridges
        and points reflect our stability and expertise. The end product
        from mixing these two opposites create a visual harmony that
        represents the values that we hold as a company.</p>
</div>

<div class="flex mt-8 flex-wrap -mx-8">
    <div class="px-8">
        <h3>Full Logo</h3>
        <div class="flex -mx-8 mt-6 text-center">
            <div class="px-8">
                <figure class="bg-ice p-4 pb-3 rounded-md">
                    <img src="images/logo.svg" alt="{{cas.name}}" class="inline-block w-full">
                    <figcaption class="mt-4">On light background</figcaption>
                </figure>
            </div>
            <div class="px-8">
                <figure class="bg-midnight p-4 pb-3 rounded-md">
                    <img src="images/logo-w.svg" alt="{{cas.name}}" class="inline-block w-full">
                    <figcaption class="mt-4 text-white">On dark background</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="px-8">
        <h3>Icon Logo</h3>
        <div class="flex -mx-8 mt-6 text-center">
            <div class="px-8">
                <figure class="bg-ice p-4 pb-3 rounded-md">
                    <img src="images/icons/icon.svg" alt="{{cas.name}}" class="inline-block h-[98px]">
                    <figcaption class="mt-4">On light background</figcaption>
                </figure>
            </div>
            <div class="px-8">
                <figure class="bg-midnight p-4 pb-3 rounded-md">
                    <img src="images/icons/logo-icon.svg" alt="{{cas.name}}" class="inline-block h-[98px]">
                    <figcaption class="mt-4 text-white">On dark background</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>