<div class="flex mt-20 justify-center items-end" x-data="{ date: new Date()}">
    <small>Copyright &copy; <span x-text="date.getFullYear()"></span> CompAndSave.Com Inc., All Rights Reserved.</small>
</div>